.edit-user__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  div input:not(.user__img) {
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    margin-top: 8px;
    outline: none;
  }
}
