
body {
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-page-container {
    box-shadow: 0 4px 21px rgba(0, 0, 0, 0.2);
    background-color: white;
    background-image: url('https://files.oaiusercontent.com/file-w8vErF6pBNBAXTdQ0qyFW9lx?se=2024-09-18T11%3A36%3A24Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Df364a583-f2f4-41ff-9c42-7af773425767.webp&sig=%2B6ZkJoSjfJ9w1/cIay8ZmBwOduiE764Hlxf/o0bKGcA%3D');
    background-size: cover;
    background-position: center;
    width: 540px;
    padding: 48px;
    border-radius: 8px;
}

label.form-label {
    display: block;
    margin-bottom: 5px;
}

    input.form-control {
    display: block;
    width: 100%;
    height: 30px; 
    margin-bottom: 15px; 
    padding: 5px;
    box-sizing: border-box;
    border: 30rem;
}

form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

button.submit-button {
    padding: 10px 20px;
    background-color: #007bff; 
    color: white;
    border: none; 
    cursor: pointer;
}

button.submit-button:hover {
    background-color: #0056b3; 
}
