// body {
//   font-family: 'Poppins', sans-serif;
//   margin: 0;
//   padding: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: white;
  background-image: url('https://i.pinimg.com/736x/51/bd/76/51bd76b9044a81bb25038a1c4277a2be.jpg');
  background-size: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 75vh;
  justify-content: center;
}



.logo {
  width: 120px;


}

.shop-name {
  font-family: Poppins;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}

input {
  margin-bottom: 1.5rem;
  padding: 0.75rem;
  border: 1px solid #D4C8B2;
  border-radius: 4px;
  font-size: 1rem;
}

.login-button,
.google-login-button {
  background-color: #F9F1E7;
  color: black;
  border: 1px solid #D4C8B2;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.google-login-button {
  margin-top: 1rem;
}

.links {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
}

.links a {
  font-size: small;
  font-style: italic;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  flex: 1;
  text-align: center;
  padding: 0 0.5rem;
}