@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ccc;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 75vh;
}

.logo {
  width: 120px;
}

.shop-name {
  font-family: Poppins;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}

input {
  margin-bottom: 1.5rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.login-button, .google-login-button {
  background-color: #F9F1E7;
  color: black;
  border: none;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  width: 100%; 
  box-sizing: border-box; 
}

.google-login-button {
  margin-top: 1rem; 
}

.links {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
}

.links a {
  font-size: small;
  color: #333;
  text-decoration: none;
  flex: 1;
  text-align: center;
  padding: 0 0.5rem;
}