@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.userinfo {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 3rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 40vh;
    margin: auto;
    img {
      margin-bottom: 20px;
      border-radius: 50%; /* Bo tròn ảnh đại diện */
      width: 100px; /* Kích thước ảnh đại diện */
      height: 100px; /* Kích thước ảnh đại diện */
    }
  }
  &__item {
    margin-bottom: 10px;
    text-align: left;
    span {
      font-weight: bold;
      margin-right: 10px;
    }
  }
}
.edit-user__modal {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
