@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: url('/src/img/cakoi1.webp');
  background-size: contain; ;
  background-position:center;
  background-repeat: no-repeat;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%; 
}

.logo {
  width: 100px;
}

.shop-name {
  font-family: Poppins;
  margin-bottom: 20px; 
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px; /* Đảm bảo không có khoảng trắng thừa */
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #F9F1E7;
  color: black;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.links {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 300px;
}

.links a {
  font-size: smaller;
  color: #333;
  text-decoration: none;
  flex: 1;
  text-align: center;
  padding: 0 0.5rem;
}
